.form {
  display: flex;
}

.input {
  border: 1px solid black;
  border-radius: 10px 0px 0 0;
  padding: 1rem;
  width: 85%;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #ffffff !important;
  background: #2d2e5c;
  display: inline-block;
  border: none;
  width: 15%;
  border-radius: 0px 10px 0 0;
  font-weight: bold;
  cursor: pointer;
}
