.messageBox {
  color: white;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  word-wrap: break-word;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  padding: 3px;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: white;
  letter-spacing: 0.3px;
  font-weight: 500;
  font-size: 1.3rem;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}

.admin-message {
  text-align: center;
  color: grey;
  font-size: 0.85rem;
}

.admin-message-container {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  display: flex;
  justify-content: center;
}

.user-avatar {
  min-width: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  background-color: #2d2e5c;
  border-radius: 99px;
  margin-right: 10px;
  color: white;
  text-transform: uppercase;
}

.name-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px !important;
}

p {
  margin: 0 !important;
}
