.messages {
  overflow: auto;
  flex: auto;
  > div {
    padding-top: 15px;
  }
  > div::-webkit-scrollbar {
    width: 6px;
    // background-color: #f5f5f5;
  }
  > div::-webkit-scrollbar-thumb {
    background-color: #2d2e5c;
    border-radius: 99px;
  }
}
